.simple-header {
  margin-bottom: 2.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 4px solid #159957;
  background: #f8fafc;
}

.simple-header h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
  color: #159957; /* Cayman green */
}

.simple-header p {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 1rem;
}
/* Small screen fixes */
/*
@media (max-width: 768px) {
  
  .simple-header h1 {
    font-size: 4rem; 
  }

  .simple-header p,
  .main-content p {
    font-size: 2rem; 
  }

  pre {
    font-size: 2rem;
  }
}

*/

@media (max-width: 768px) {
    /* Increase font size for paragraphs */
    p {
        font-size: 1.8rem;  /* Adjust this value to your liking */
    }

    /* Increase font size for code blocks */
    pre, code {
        font-size: 1.8rem;  /* Adjust this too */
    }

    /* Optional: if you want to adjust headings */
    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;  /* Adjust to make headings larger on mobile */
    }
}
